/*----------------GENERAL ITEMS-------------------*/

*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root
{
    --main-bg-color: #f0f0f0;
    --gradient-color-A : rgba(61, 0, 152, 0.35);
    --gradient-color-B : rgba(0,0,0,1);
    --detail-color: rgb(139, 8, 214);
    --link-main-text-color: #fff;
    --link-bg-color: rgba(0,0,0,0.5);
    --line-color: rgb(64, 0, 255);
    --border-color: #fff;
    --white-color: white;
    --black-color : black;
}

body
{
    background-color: var(--main-bg-color);
}

h1
{
    font-size: 50px;
    color: var(--white-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px  var(--black-color);
}

/*---------------- END GENERAL ITEMS-------------------*/

/*---------------- BANNER -------------------*/
.banner
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,var(--gradient-color-A),var(--gradient-color-B)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

span
{
    color: var(--detail-color);
    font-weight: bold;
    text-transform: uppercase;
}

.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--link-main-text-color);
    text-transform: uppercase;
    transition: .25s ease-in;
}

/*-----PSEUDO ELEMENTOS-----*/
.navbar ul li::after
{
    content: "";
    height: 2px;
    width: 0%;
    background: var(--line-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after
{
    width: 100%;
}

.navbar ul li a:hover
{
    text-shadow: 0px 0px 20px var(--detail-color);
}

svg
{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}


.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--white-color);
}

.content h1
{
    font-size: 70px;
    margin: 80px;
}


.content p
{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/*---------------- END OF BANNER -------------------*/

/*---------------- CARD SECTION -------------------*/

#main
{
    background-color: #F3F4F5;
    padding: 50px 0;
}

.card-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}


.card
{
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #dadada;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--gradient-color-A);
    transition: 0.25s;
}

.card:hover
{
    box-shadow: 0 0 20px var(--detail-color);
    border: 3px solid var(--detail-color);
}
.card img
{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h3
{
    font-size: 24px;
    color: var(--detail-color);
    font-size: 30px;
    font-weight: bold;
}

.card p
{
    color: #666;
    font-size: 16px;
}



/*---------------- END OFCARD SECTION -------------------*/

/*---------------- CONTACT SECTION -------------------*/
.contact
{
    padding: 50px;
    text-align: center;
    height: 25%;
    background-color: #262625;
    margin-top: 50px;

}

.contact h2
{
    color: var(--white-color);
    font-size: 32px;
    margin-bottom: 20px;
    text-align: right;
}


.contact-icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon
{
    margin: 0 20px;
}


.icon img
{
   width: 50px;
   margin-bottom: 10px;
   -webkit-filter: drop-shadow(0 0 5px var(--detail-color));
   filter: drop-shadow(0 0 5px var(--detail-color));
}

.icon p
{
    color: var(--detail-color);
    font-size: 18px;
}

/*---------------- END OF CONTACT SECTION -------------------*/

@media(min-width: 1px) and (max-width:1279px)
{

        :root
    {
        --main-bg-color : #f0f0f0;
        --gradient-color-A : rgba(57, 0, 0, 0.35);
        --gradient-color-B : rgba(0,0,0,1);
        --detail-color : rgb(204, 1, 1);
        --link-main-text-color: #fff;
        --link-bg-color: rgba(0,0,0,0.5);
        --line-color: rgb(251, 123, 123);
        --border-color: #fff;
        --white-color: white;
        --black-color: black;
        
    }

    svg
    {
        display: none;

    }


    h1
    {
        font-size: 25px;      
        text-align: center;
        
    }

    .content h1
    {
        font-size: 25px;      
        text-align: center;
        
    }

    .navbar
    {
        margin: auto;
        display: flex;
        flex-direction: column;
       
    }

    .navbar ul li
    {       
        margin: 10px;
    }

    .navbar ul li a
    {
        font-size: 10px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .contact
    {
        margin-top: 50px;
        height: auto;
    }

    .contact-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       
    }
  

}




